body {
    background-color: #30332E;
    color: #FFFBFC;
	
	
}

.body {
    text-align: center;
    margin-top: 2em;
    margin-left:1em;
    margin-right:1em;

}

nav li {
    padding-right:0.7em;
	text-align: left;
}

li {
	text-align: left;
    list-style-position: inside;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

